# The full URL to your Teldrive instance (without /api at the end)
TELDRIVE_URL="localhost:8080"
TELDRIVE_DL_URL="teldrive.vadapav.qzz.io"
TELDRIVE_HASH=
# Your Teldrive access token
TELDRIVE_TOKEN="paste_access_token_here"
DISABLE_LOGS=true